#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 100px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 100px;
  width: 0;
  height: 100%;
  margin-left: -100px;
  overflow-y: auto;
  background: #2e3641;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sidebar .user {
  padding: 10px;
  text-align: center;
}

.sidebar .user a {
  color: #fff;
}

.sidebar .nav.nav-pills {
	text-align: center;
}

.sidebar .nav.nav-pills a {
	color: #fff;
	font-size: 10px;
	font-weight: normal;
	text-transform: uppercase;
}

.sidebar .nav.nav-pills a:hover {
	color: #0088cc;
	background-color: transparent;
}

.sidebar .nav.nav-pills a:hover i {
	color: #fff;
	background-color: #0088cc;
}

.sidebar .nav.nav-pills a i {
  margin-right: auto;
  margin-left: auto;
	display: block;
	width: 40px;
	height: 40px;
	font-size: 22px;
	padding-top: 7px;
	padding-left: 2px;
	background-color: #14b9d6;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.sidebar .nav.nav-pills a span {
	clear: left;
	display: block;
	padding-top: 7px;
}

.sidebar .nav.nav-pills li.separator {
  height: 40px;
}

.sidebar .popover.fade.in {
  z-index: 99999;
}

#wrapper.toggled #sidebar-wrapper {
  width: 100px;
}

#content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #content-wrapper {
  position: absolute;
  margin-right: -100px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 100px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 100px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #content-wrapper {
    position: relative;
    margin-right: 0;
  }
}